<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body class="disable-select">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenu" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
      <div class="nav-div collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/guide">Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="header">
      <h1>Y A M A H A</h1>
  </div>

  <div class="piano">
    <ul class="piano-box">
      <li><span data-note="C3" class="key white-key">C3</span></li>
      <li><span data-note="C3#" class="key black-key">C3#</span></li>
      <li><span data-note="D3" class="key white-key">D3</span></li>
      <li><span data-note="D3#" class="key black-key">D3#</span></li>
      <li><span data-note="E3" class="key white-key">E3</span></li>
      <li><span data-note="F3" class="key white-key">F3</span></li>
      <li><span data-note="F3#" class="key black-key">F3#</span></li>
      <li><span data-note="G3" class="key white-key">G3</span></li>
      <li><span data-note="G3#" class="key black-key">G3#</span></li>
      <li><span data-note="A4" class="key white-key">A4</span></li>
      <li><span data-note="A4#" class="key black-key">A4#</span></li>
      <li><span data-note="B4" class="key white-key">B4</span></li>

      <li><span data-note="C4" class="key white-key">C4</span></li>
      <li><span data-note="C4#" class="key black-key">C4#</span></li>
      <li><span data-note="D4" class="key white-key">D4</span></li>
      <li><span data-note="D4#" class="key black-key">D4#</span></li>
      <li><span data-note="E4" class="key white-key">E4</span></li>
      <li><span data-note="F4" class="key white-key">F4</span></li>
      <li><span data-note="F4#" class="key black-key">F4#</span></li>
      <li><span data-note="G4" class="key white-key">G4</span></li>
      <li><span data-note="G4#" class="key black-key">G4#</span></li>
      <li><span data-note="A5" class="key white-key">A5</span></li>
      <li><span data-note="A5#" class="key black-key">A5#</span></li>
      <li><span data-note="B5" class="key white-key">B5</span></li>

      <li><span data-note="C5" class="key white-key">C5</span></li>
      <li><span data-note="C5#" class="key black-key">C5#</span></li>
      <li><span data-note="D5" class="key white-key">D5</span></li>
      <li><span data-note="D5#" class="key black-key">D5#</span></li>
      <li><span data-note="E5" class="key white-key">E5</span></li>
      <li><span data-note="F5" class="key white-key">F5</span></li>
      <li><span data-note="F5#" class="key black-key">F5#</span></li>
      <li><span data-note="G5" class="key white-key">G5</span></li>
      <li><span data-note="G5#" class="key black-key">G5#</span></li>
      <li><span data-note="A6" class="key white-key">A6</span></li>
      <li><span data-note="A6#" class="key black-key">A6#</span></li>
      <li><span data-note="B6" class="key white-key">B6</span></li>
    </ul>
  </div>

  <%- include('./partials/footer.ejs') %>

  <audio id="C3" src="/sounds/pianoKeys/C3.mp3"></audio>
  <audio id="C3#" src="/sounds/pianoKeys/C3m.mp3"></audio>
  <audio id="D3" src="/sounds/pianoKeys/D3.mp3"></audio>
  <audio id="D3#" src="/sounds/pianoKeys/D3m.mp3"></audio>
  <audio id="E3" src="/sounds/pianoKeys/E3.mp3"></audio>
  <audio id="F3" src="/sounds/pianoKeys/F3.mp3"></audio>
  <audio id="F3#" src="/sounds/pianoKeys/F3m.mp3"></audio>
  <audio id="G3" src="/sounds/pianoKeys/G3.mp3"></audio>
  <audio id="G3#" src="/sounds/pianoKeys/G3m.mp3"></audio>
  <audio id="A4" src="/sounds/pianoKeys/A4.mp3"></audio>
  <audio id="A4#" src="/sounds/pianoKeys/A4m.mp3"></audio>
  <audio id="B4" src="/sounds/pianoKeys/B4.mp3"></audio>
  <audio id="C4" src="/sounds/pianoKeys/C4.mp3"></audio>
  <audio id="C4#" src="/sounds/pianoKeys/C4m.mp3"></audio>
  <audio id="D4" src="/sounds/pianoKeys/D4.mp3"></audio>
  <audio id="D4#" src="/sounds/pianoKeys/D4m.mp3"></audio>
  <audio id="E4" src="/sounds/pianoKeys/E4.mp3"></audio>
  <audio id="F4" src="/sounds/pianoKeys/F4.mp3"></audio>
  <audio id="F4#" src="/sounds/pianoKeys/F4m.mp3"></audio>
  <audio id="G4" src="/sounds/pianoKeys/G4.mp3"></audio>
  <audio id="G4#" src="/sounds/pianoKeys/G4m.mp3"></audio>
  <audio id="A5" src="/sounds/pianoKeys/A5.mp3"></audio>
  <audio id="A5#" src="/sounds/pianoKeys/A5m.mp3"></audio>
  <audio id="B5" src="/sounds/pianoKeys/B5.mp3"></audio>
  <audio id="C5" src="/sounds/pianoKeys/C5.mp3"></audio>
  <audio id="C5#" src="/sounds/pianoKeys/C5m.mp3"></audio>
  <audio id="D5" src="/sounds/pianoKeys/D5.mp3"></audio>
  <audio id="D5#" src="/sounds/pianoKeys/D5m.mp3"></audio>
  <audio id="E5" src="/sounds/pianoKeys/E5.mp3"></audio>
  <audio id="F5" src="/sounds/pianoKeys/F5.mp3"></audio>
  <audio id="F5#" src="/sounds/pianoKeys/F5m.mp3"></audio>
  <audio id="G5" src="/sounds/pianoKeys/G5.mp3"></audio>
  <audio id="G5#" src="/sounds/pianoKeys/G5m.mp3"></audio>
  <audio id="A6" src="/sounds/pianoKeys/A6.mp3"></audio>
  <audio id="A6#" src="/sounds/pianoKeys/A6m.mp3"></audio>
  <audio id="B6" src="/sounds/pianoKeys/B6.mp3"></audio>

  <script src="/js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>